# ========================
# Python cache
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Virtual Environment
# ========================
FileSystemPg/
venv/
.env/

# ========================
# PyInstaller
# ========================
build/
dist/
*.spec

# ========================
# Environment & secrets
# ========================
.env

# ========================
# Logs
# ========================
*.log

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/
